#contact{
    display: flex;
    flex-direction: column;
    cursor: default;
  }
  
  #contact > form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #contact > form > div.MuiFormControl-root.MuiFormControl-fullWidth.MuiTextField-root.css-wb57ya-MuiFormControl-root-MuiTextField-root{
    width: 100%;
  }
  
  #lets-chat{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
  }
  
  #lets-chat > h2{
    color: #228888;
    
  }
  #lets-chat > p{
    color: #1e1e1e;
    font-size:18px;
  }

  #send-btn{
    background-color: #228888;
    color: white;
    margin: 1rem;
    font-weight: bold;
    padding: 1rem;
    width: 150px;
    border: unset;
  }

  .form-input, textarea{
    width: 100%;
    margin: 5px;
    height: 50px;
    padding-left: 1rem;
  }

  textarea{
    height: 200px;
    padding-top: 1rem;
  }