* {
  box-sizing: border-box;
  font-family: Gotham;
}

@font-face {
  font-family: Gotham;
  src: url(./fonts/Gotham-Light.otf);
  font-display: fallback;
}

.cursor{
  width: 20px;
  height: 20px;
  border: 2px solid #fff;
  background-color: rgba(17,17,17,0.6);
  border-radius: 50%;
  position: fixed;
  pointer-events: none;
  z-index: 999;
}

body{
  background-color: #fafafa;
  font-family: 'Roboto', sans-serif;
  height: 400vh;
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  cursor: none;
}


body::-webkit-scrollbar { /* WebKit */
  width: 0;
  height: 0;
}

html{
  scroll-behavior:smooth;
  padding: 0;
  margin: 0;
  height: 100vh;
}




main{
  position: absolute;
  top: 12vh;
  padding-top: 1rem;
}



section{
  padding-top: 15vh;
  min-height: 85vh;
  width: 95vw;

}

/* Contact Section */

#contact{
  display: flex;
  flex-direction: row;
}

#contact > form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#contact > form > div.MuiFormControl-root.MuiFormControl-fullWidth.MuiTextField-root.css-wb57ya-MuiFormControl-root-MuiTextField-root{
  width: 100%;
}

#lets-chat{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem;
}

#lets-chat > h2{
  color: #228888;
  font-size: 3vw;
}
#lets-chat > p{
  color: #1e1e1e;
  font-size: 1.5vw;
}

.work-img{
  width: 60vw;
  margin: 0 20vw;
  box-shadow: 5px 10px 10px #cdcdcd;;
}



h3{
  font-weight: 200;
}

p{
  font-weight: 300;
}

footer{
  height: 60px;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 1rem;
  font-size: 0.8rem
}