* {
  box-sizing: border-box;
}

body{
  background-color: #fafafa;
  font-family: 'Roboto', sans-serif;
  padding: 1rem;

}

html{
  scroll-behavior:smooth;
  padding: 0;
  margin: 0;
}

/* Header Section */

header{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: white;
  box-shadow: 0 10px 10px #cdcdcd;
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 12vh;
  z-index: 999;
}
.carousel{
  height: 80vh;
  background-color: #288;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.carousel-container{
  height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  position: absolute;

}

.carousel-img{
  position: relative;
  max-width: 40% !important;
  width: 40vw;
  height: 40vw;
}

.carousel-header{
  color: rgb(185, 255, 255);
  font-size: 3vw;
  text-transform: uppercase;
}

.carousel-header p{
  color: rgb(185, 255, 255);

}



#logo{
  height: 120px;
  display: inline;
  border-radius: 50%;
  box-shadow: 0 10px 10px #cdcdcd;

}

nav{
  position: absolute;
  right: 20px;
  top: 4vh;
}
a{
  text-transform: uppercase;
  font-weight: 300;
  font-size: 0.8rem;
  text-decoration: none;
  margin: 0 0.5rem;
  color: grey;
  transition: 0.2s ease-in;
}

a:hover{
  font-weight: 400;
  font-size: 0.9rem;
  color: black;
  
}
#head-title{
  font-weight: 200;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 5px;
  position: absolute;
  left: 160px;
  top: 3vh;
}


main{
  position: absolute;
  top: 12vh;
  padding-top: 1rem;
}



section{
  padding-top: 15vh;
  min-height: 85vh;
  width: 95vw;

}

/* Contact Section */

#contact{
  display: flex;
  flex-direction: row;
}

form{
  display: flex;
  flex-direction: column;
  width: 50%;
  
}
input, textarea{
  border: 1px solid grey;
  border-radius: 7px ;
  height: 50px;
  min-width: 400px ;
  max-width: 500px;
  background-color: unset;
  margin: 0 auto;
}

input:focus{
  border: 3px solid #008080;
  outline: none;
}

#lets-chat{
  width: 50%;
}

.work-img{
  width: 60vw;
  margin: 0 20vw;
  box-shadow: 5px 10px 10px #cdcdcd;;
}



h3{
  font-weight: 200;
}

p{
  font-weight: 300;
}

footer{
  height: 10vh;
  width: auto;
  display: flex;
  flex-direction: row;
  background-color: white;
  position: relative;
  bottom: 0;
  left: 0;
  padding: 1rem
  
}