* {
  box-sizing: border-box;
}

body{
  background-color: #fafafa;
  font-family: 'Roboto', sans-serif;
  padding: 1rem;

}

html{
  scroll-behavior:smooth;
  padding: 0;
  margin: 0;
}

/* Header Section */

header{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: white;
  box-shadow: 0 10px 10px #cdcdcd;
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 12vh;
  z-index: 999;
}
.carousel{
  height: 80vh;
  background-color: #228888;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.carousel-container{
  height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  position: absolute;

}

.carousel-img{
height: 80vh; 
width: auto !important;
margin: 0 5vw !important;
 
}

.carousel-header{
  color: #dfeeed;
  font-size: 3vw;
  text-transform: uppercase;
}

.carousel-info > p{
  padding: 0 5vw;
  color: #dfeeed ;
  font-weight: 300;
  font-size: 1.5vw;

}

.carousel-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;

}

#app-store{
  width: 30%;
}

#logo{
  height: 120px;
  display: inline;
  border-radius: 50%;
  box-shadow: 0 10px 10px #cdcdcd;

}

nav{
  position: absolute;
  right: 20px;
  top: 4vh;
}
a{
  text-transform: uppercase;
  font-weight: 300;
  font-size: 0.8rem;
  text-decoration: none;
  margin: 0 0.5rem;
  color: grey;
  transition: 0.2s ease-in;
}

a:hover{
  font-weight: 400;
  font-size: 0.9rem;
  color: black;
  
}
#head-title{
  font-weight: 200;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 5px;
  position: absolute;
  left: 160px;
  top: 3vh;
}


main{
  position: absolute;
  top: 12vh;
  padding-top: 1rem;
}



section{
  padding-top: 15vh;
  min-height: 85vh;
  width: 95vw;

}

/* Contact Section */

#contact{
  display: flex;
  flex-direction: row;
}

#contact > form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#contact > form > div.MuiFormControl-root.MuiFormControl-fullWidth.MuiTextField-root.css-wb57ya-MuiFormControl-root-MuiTextField-root{
  width: 100%;
}

#lets-chat{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem;
}

.work-img{
  width: 60vw;
  margin: 0 20vw;
  box-shadow: 5px 10px 10px #cdcdcd;;
}



h3{
  font-weight: 200;
}

p{
  font-weight: 300;
}

footer{
  height: 10vh;
  width: auto;
  display: flex;
  flex-direction: row;
  background-color: white;
  position: relative;
  bottom: 0;
  left: 0;
  padding: 1rem
  
}